commands:
{% for item in cmds %}
    {% if item.group == inventory_hostname %}
        {% if item.get_log == 'yes' %}
            {% if item.command != '' -%}
                {{ '- file_name: cisco_' + item.group + '_' + item.command | replace(' ', '_') }}
                {% set command_filename = item.command | replace(' ', '_') -%}
                {{ '  command_: ' + item.command }}
                {% if item.use_template == 'yes' -%}
                    {{ '  template_file: cisco_' + item.group + '_' + command_filename + '.textfsm' }}
                {% elif item.use_template == 'no' -%}
                    {{ '  no_template: yes' }}
                {% endif -%}
                {{ '  del_list_file: cisco_' + item.group + '_' + command_filename + '_del_list.txt' }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
